/***************************************************/
/**                  Reset                        **/
/***************************************************/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/***************************************************/
/**                  Variables                        **/
/***************************************************/

$base-color-primary: #5414b3;
$base-color-secundary: orange;
$text-light: rgb(233, 233, 233);
$text-dark: rgb(44, 44, 44);
$background-section: #b084f1;
$title-details: rgb(211, 137, 0);
$title-span-purple: #5414b3;
$title-span-orange: orange;

/***************************************************/
/**                  Base                        **/
/***************************************************/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #9f6fe7;
}

span {
  font-weight: bold;
  color: $base-color-secundary;
}

section {
  padding: 7.5rem 2.5rem;
}

.title {
  font-size: 3rem;
  color: $text-light;
  text-shadow: black 0.1rem 0.1rem 0.1rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.5rem;
  color: $text-light;
}

p {
  font-size: 2rem;
}

/***************************************************/
/**                  Navigation                   **/
/***************************************************/

header {
  font-size: 2rem;
  background: $base-color-primary;
  box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
  height: 7rem;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    .logo {
      color: $text-light;

      span {
        font-size: 3rem;
      }
    }

    .menu {
      display: flex;

      a {
        color: $text-light;
        padding: 2rem;

        &:hover {
          color: $text-dark;
          background-color: $base-color-secundary;
        }
      }
    }
  }
}

#menu-btn {
  display: none;
  color: $text-light;
  font-size: 3rem;
  cursor: pointer;

  &:hover {
    color: $base-color-secundary;
  }
}

/**********************************************/
/**                  Home                   **/
/********************************************/

.home {
  padding: 0;
  padding-top: 7rem;

  .slide {
    min-height: 90vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;

    .content {
      padding: 2rem;
      width: 60rem;
      padding-left: 5rem;

      .phrase {
        font-size: 8rem;
        color: $text-light;
        text-shadow: black 0.1em 0.1em 0.2em;
      }
    }
  }
}
.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;

  &.swiper-pagination-bullet-active {
    background: $base-color-secundary;
  }
}

/**********************************************/
/**                  Idea                   **/
/********************************************/

#idea {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  border-bottom: 3px solid $base-color-primary;

  .content {
    text-align: justify;
  }

  img {
    object-fit: cover;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    width: 40%;
  }
}

.banner{
  background: linear-gradient(rgba(101, 74, 101, 0rgba(91, 37, 93, 0.7)0,.7)), url(../img/banner-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: $text-light;
  h3{
    padding: 0 5rem;
  }
}
/**********************************************/
/**                  Details                   **/
/********************************************/

#details {
  background: $base-color-secundary;

  .title {
    text-align: center;
  }

  span {
    color: $title-span-purple;
  }

  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 2.5rem;

    .box {
      border-radius: 4rem;
      background: $text-light;
      box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);


      &:hover .image img {
        transform: scale(1.1);
      }
    }

    .image {
      height: 30rem;
      border-radius: 3rem;
      overflow: hidden;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .content {
      text-align: center;
      h3 {
        border-bottom: solid $title-span-purple 4px;
        border-radius: 10px;
        margin: 0 5rem;
        padding-top: 2rem;
        color: $title-details;
        text-shadow: .1rem .1rem #000;
      }
      p {
        padding: 2.5rem 2rem;
      }
    }
  }

  // Ambiente de Desenvolvimento
  .environment {
    background: $background-section;
    margin-top: 8rem;
    padding: 3rem 6rem;
    display: flex;
    border-radius: 1.5rem;
    text-align: center;
    align-items: center;
    box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
    gap: 4rem;

    .swiper {
      width: 35rem;
      height: 35rem;
    }

    .swiper-slide {
      background-position: center !important;
      background-size: cover !important;
    }

    .content {
      padding: 0 2rem;
      h3 {
        margin-bottom: 2rem;
      }
    }
  }
}
/**********************************************/
/**                  Target                 **/
/********************************************/
#target {
  .title{
    text-align: center;
  }

  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));

    .box {
      border: 1px solid rgb(182, 157, 109);
      background: $base-color-secundary;

      &:hover .image img {
        transform: scale(1.1);
      }
      .image {
        height: 30rem;
        overflow: hidden;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
  
      .content {
        text-align: center;
        h3 {
          margin: 0 5rem;
          padding-top: 2rem;
          color: $base-color-primary;
        }
        p {
          padding: 2.5rem 2rem;
        }
      }
    }
  }
}

// Footer
footer{
  background: $base-color-primary;
  color: $text-light;
  padding: .5rem;

  p{
    font-size: 1.2rem;
    text-align: center;
  }
}

/*******************************/
/**   Layout Responsive      **/
/******************************/
@media (max-width: 1128px) {
  .home .slide .content .phrase{
    font-size: 6rem;
  }

  #idea {
    display: flex;
    flex-wrap: wrap;

    .content > h2 {
      text-align: center;
    }

    img {
      margin: auto;
      width: 60%;
    }
  }

  #details, #target {
    .box-container {
      flex-flow: column;
    }

    .environment {
      padding: 3rem 2rem;
      flex-wrap: wrap;

      .swiper {
        width: 50rem;
        height: 30rem;
      }
    }
  }
}

@media (max-width: 736px) {
  section{
    padding: auto 1.5rem;
  }

  p {
    font-size: 1.7rem;
  }

  header .container .menu {
    position: absolute;
    display: list-item;
    top: 99%;
    left: 0;
    right: 00;
    background: $base-color-primary;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    a {
      display: block;
    }
  }

  #home{
    .content{
      padding: 0 2rem;

      .phrase{
        font-size: 4rem;
      }
    };
    .swiper-pagination-bullet {
      border-radius: 0;
    }
  }

  #target, #details{
    .box-container{
      grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    }
  }

  .environment {
    .swiper {
      width: 18rem !important;
      height: 18rem !important;
    }

    .content {
      padding: 0;
      p {
        text-align: justify;
      }
    }
  }

  #menu-btn {
    display: inline-block; //visibility não funciona
  }
}

@media (max-width: 320px) {
  html{
    font-size: 45%;
  }
}