/***************************************************/
/**                  Reset                        **/
/***************************************************/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s linear;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

/***************************************************/
/**                  Variables                        **/
/***************************************************/

$base-color-primary: #5414b3;
$base-color-secundary: orange;
$text-light: rgb(233, 233, 233);
$text-dark: rgb(44, 44, 44);
$background-section: #9f6fe7;
$title-details: orange;
$title-span-purple: #5414b3;
$title-span-orange: orange;

/***************************************************/
/**                  Base                        **/
/***************************************************/

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background: #9f6fe7;
}

span{
  font-weight: bold;
  color: $base-color-secundary;
}

section {
  padding: 2rem 2.5rem;
  padding-top: 7.5rem;
}


h2{
  font-size: 3rem;
  color: $text-light;
  text-shadow: black 0.1rem 0.1rem 0.1rem;
  margin-bottom: 3rem;
}

h3{
  font-size: 2.5rem;
  color: $text-light;
}


p{
  font-size: 2rem;
}


/***************************************************/
/**                  Navigation                   **/
/***************************************************/

header{
  font-size: 2rem;
  background: $base-color-primary;
  box-shadow: 0 0.5rem .5rem .2rem rgba(0, 0, 0, 0.2);
  height: 7rem;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    .logo{
      color: $text-light;
      
      span{
        font-size: 3rem;
      }
    }

    .menu{
      display: flex;

      a{
        color: $text-light;
        padding: 2rem;

        &:hover{
          color: $text-dark;
          background-color: $base-color-secundary;
        }
      }
    }
  }
}

#menu-btn{
  display: none;
  color: $text-light;
  font-size: 3rem;
  cursor: pointer;

  &:hover{
    color: $base-color-secundary;
  }
}


/**********************************************/
/**                  Home                   **/
/********************************************/

.home{
  padding:0;
  padding-top: 7rem;

  .slide{
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;

    .content{
      padding: 2rem;
      width: 60rem;
      padding-left: 5rem;

      .phrase{
        font-size: 4rem;
        color: $text-light;
        text-shadow: black 0.1em 0.1em 0.2em
      }
    }
  }
}
.swiper-pagination-bullet{
  height: 2rem;
  width: 2rem;

  &.swiper-pagination-bullet-active{
    background: $base-color-secundary;
  }
}

/**********************************************/
/**                  Idea                   **/
/********************************************/

#idea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  .content{
    text-align: justify;
  }

  img{
    text-align: center;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    width: 40%;
  }
}


/**********************************************/
/**                  Details                   **/
/********************************************/

#details{
  background: $base-color-secundary;
  span{
    color: $title-span-purple;
  }

  .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    
    .box{
      border-radius: 4rem;
      background: $text-light;
      border: 2.5px solid $base-color-secundary;
  
      &:hover .image img{
        transform: scale(1.1);
      }
    }
  
  
    .image{
      height: 30rem;
      width: 100%;
      border-radius: 3rem;
      overflow: hidden;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    .content{
      text-align: center;
      h3{
        border-bottom: solid $title-span-purple 4px;
        border-radius: 10px;
        margin: 0 5rem;
        padding-top: 2rem;
        color: $title-details;
      }
      p{
        padding: 2.5rem 2rem;
      }
    }
  }
  
  .environment{
    background: $background-section;
    margin: 2rem 0;
    padding: 2rem 6rem;
    display: flex;
    border-radius: 1.5rem;
    text-align: center;
    gap: 4rem;

    .swiper {
      padding: 2rem;
      width: 30rem;
      height: 30rem;
    }

    .swiper-slide {
      background-position: center  !important;
      background-size: cover !important;
    }

    .swiper-slide img {
      width: 100%;
    }

    .content{
      padding: 2rem;

      h3{
        margin-bottom: 2rem;
      }
    }
  }
}


/*******************************/
/**   Layout Responsive      **/
/******************************/
@media (max-width: 1128px) {
  #about{
    display: flex;
    flex-wrap: wrap;

    img{
      margin: auto;
      width: 60%;
    }
  }

  #details .box-container{
    flex-flow: column;
  }
  .environment{
    flex-wrap: wrap;

    
    .swiper {
      width: 32rem;
      height: 32rem;
    }
  }
}

@media (max-width:736px) {
  header .container .menu{
    position: absolute;
    display: list-item;
    top: 99%;
    left: 0;
    right: 00;
    background: $base-color-primary;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    a {
      display: block;
    }
  }
  #menu-btn{
    display: inline-block; //visibility não funciona
  }
}