/***************************************************/
/**                  Reset                        **/
/***************************************************/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/***************************************************/
/**                  Variables                        **/
/***************************************************/
/***************************************************/
/**                  Base                        **/
/***************************************************/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #9f6fe7;
}

span {
  font-weight: bold;
  color: orange;
}

section {
  padding: 7.5rem 2.5rem;
}

.title {
  font-size: 3rem;
  color: #e9e9e9;
  text-shadow: black 0.1rem 0.1rem 0.1rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.5rem;
  color: #e9e9e9;
}

p {
  font-size: 2rem;
}

/***************************************************/
/**                  Navigation                   **/
/***************************************************/
header {
  font-size: 2rem;
  background: #5414b3;
  -webkit-box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
  height: 7rem;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
}

header .container .logo {
  color: #e9e9e9;
}

header .container .logo span {
  font-size: 3rem;
}

header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .menu a {
  color: #e9e9e9;
  padding: 2rem;
}

header .container .menu a:hover {
  color: #2c2c2c;
  background-color: orange;
}

#menu-btn {
  display: none;
  color: #e9e9e9;
  font-size: 3rem;
  cursor: pointer;
}

#menu-btn:hover {
  color: orange;
}

/**********************************************/
/**                  Home                   **/
/********************************************/
.home {
  padding: 0;
  padding-top: 7rem;
}

.home .slide {
  min-height: 70vh;
  background-size: cover !important;
  background-position: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .slide .content {
  padding: 2rem;
  width: 60rem;
  padding-left: 5rem;
}

.home .slide .content .phrase {
  font-size: 4rem;
  color: #e9e9e9;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: orange;
}

/**********************************************/
/**                  Idea                   **/
/********************************************/
#idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  border-bottom: 3px solid #5414b3;
}

#idea .content {
  text-align: justify;
}

#idea img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  width: 40%;
}

/**********************************************/
/**                  Details                   **/
/********************************************/
#details {
  background: orange;
}

#details .title {
  text-align: center;
}

#details span {
  color: #5414b3;
}

#details .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

#details .box-container .box {
  border-radius: 4rem;
  background: #e9e9e9;
  border: 2.5px solid orange;
}

#details .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#details .box-container .image {
  height: 30rem;
  border-radius: 3rem;
  overflow: hidden;
}

#details .box-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#details .box-container .content {
  text-align: center;
}

#details .box-container .content h3 {
  border-bottom: solid #5414b3 4px;
  border-radius: 10px;
  margin: 0 5rem;
  padding-top: 2rem;
  color: orange;
}

#details .box-container .content p {
  padding: 2.5rem 2rem;
}

#details .environment {
  background: #9f6fe7;
  margin: 2rem 0;
  padding: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.5rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

#details .environment .swiper {
  width: 35rem;
  height: 35rem;
}

#details .environment .swiper-slide {
  background-position: center !important;
  background-size: cover !important;
}

#details .environment .content {
  padding: 0 2rem;
}

#details .environment .content h3 {
  margin-bottom: 2rem;
}

/**********************************************/
/**                  Target                 **/
/********************************************/
#target .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
}

#target .box-container .box {
  border: 1px solid #b69d6d;
  background: orange;
}

#target .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#target .box-container .image {
  height: 30rem;
  overflow: hidden;
}

#target .box-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#target .box-container .content {
  text-align: center;
}

#target .box-container .content h3 {
  margin: 0 5rem;
  padding-top: 2rem;
  color: #5414b3;
}

#target .box-container .content p {
  padding: 2.5rem 2rem;
}

/*******************************/
/**   Layout Responsive      **/
/******************************/
@media (max-width: 1128px) {
  #idea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #idea .content > h2 {
    text-align: center;
  }
  #idea img {
    margin: auto;
    width: 60%;
  }
  #details .box-container, #target .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #details .environment, #target .environment {
    padding: 3rem 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #details .environment .swiper, #target .environment .swiper {
    width: 50rem;
    height: 30rem;
  }
}

@media (max-width: 736px) {
  p {
    font-size: 1.7rem;
  }
  header .container .menu {
    position: absolute;
    display: list-item;
    top: 99%;
    left: 0;
    right: 00;
    background: #5414b3;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .container .menu.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .container .menu a {
    display: block;
  }
  .environment .swiper {
    width: 25rem !important;
    height: 20rem !important;
  }
  .environment .content {
    padding: 0;
  }
  .environment .content p {
    text-align: justify;
  }
  #menu-btn {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */